.navbar--links-container > a {
    transition: 300ms;
    position: relative;
}

.navbar--links-container > a:hover {
    color: #DAA520;
}

.navbar--links-container > a:hover::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #DAA520 ;
    left: 0;
    bottom: 0;
    border-radius: 50%;
    animation: growLine 300ms ease;
}

@keyframes growLine {
    0% {
        width: 0;
    }
    100% {
        width: 100%;
    }
}
