<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Grifo</title>
</head>
<body>
    <header>
        <h1>Grifo</h1>
    </header>
    
    <nav>
        <ul>
            <li><a href="#">Início</a></li>
            <li><a href="#">Ficha Técnica</a></li>
            <li><a href="#">Contato</a></li>
        </ul>
    </nav>

    <main>
        <section>
            <h2>Obras</h2>
            <p>Exemplos</p>
        </section>
    </main>

    <footer>
        <img src="../../static/grifo-imagem.png">
        <p>&copy; 2023 Grifo Diagnóstico e Conservação de Bens Culturais Ltda.</p>
    </footer>
</body>
</html>
